  <div class="contents row" >
    <% @jobs.each do |job| %>
      <div class="content_post" style="background-image: url(<%= job.image %>);">
        <%= simple_format(job.title) %>
        <span class="username"><%= job.id %></span>
      </div>
    <% end %>
    <%= paginate(@jobs) %>
  </div>
