<div class="contents row">
  <%= form_tag('/jobs', method: :post) do %>
  <h3>
    募集を作成する
  </h3>
  <!--画像アップロード機能を実装したい -->
  <!-- <input type="" name="image"> -->
  <!-- <input placeholder="Image Url" type="text" name="description"> -->
  <input placeholder="画像URL" type="text" name="image">
  <input placeholder="募集タイトル" type="text" name="title">
  <textarea cols="30" name="introduction" placeholder="活動概要" rows="10"></textarea>
  <textarea cols="30" name="description" placeholder="募集要項" rows="10"></textarea>
  <textarea cols="30" name="skill" placeholder="求めるスキル" rows="10"></textarea>
  <div class="field">
    <%= text_field_tag 'job[skill_list]', @job.skill_list.join(',') %>
  </div>
  <input type="submit" value="PUBLISH">
  <% end %>
</div>
