<div class="contents row">
  <%= form_tag('/jobs', method: :post) do %>
  <h3>
    募集を作成する
  </h3>
  <label>
  募集画像 <input type="file" placeholder="画像" name="image" >
  </label>
<!--   <input placeholder="画像URL" type="text" name="image"> -->
  <input placeholder="募集タイトル" type="text" name="title">
  <textarea cols="30" name="introduction" placeholder="活動概要" rows="10"></textarea>
  <textarea cols="30" name="description" placeholder="募集要項" rows="10"></textarea>
  <textarea cols="30" name="skill" placeholder="求めるスキル" rows="10"></textarea>
  <input type="submit" value="PUBLISH">
  <% end %>
</div>
