<!DOCTYPE html>
<html>
  <head>
    <title>atelier</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/a062eefb4d.js"></script>
  </head>

  <body>
   <header class="header">
<!--      <div class="setting">
       <i class="fa fa-cog" aria-hidden="true"></i>
     </div> -->
     <p class = 'logo'>
       <img alt="logo"  src="/assets/atelier.png">
     </p>
   </header>


    <%= yield %>

    <footer class = "global-navi">
      <i class="fa fa-user-circle" aria-hidden="true"></i>
      <i class="fa fa-search" aria-hidden="true"></i>
      <i class="fa fa-sign-out" aria-hidden="true"></i>
    </footer>
  </body>
</html>
